.body {
    font-family: Arial, sans-serif;
}

.wrapper {
    background-color: white;
    margin-left: -1px;
}

#frameWrapper{
    margin-top: 3em;
    width:80%;
    height: 20em;
    overflow: hidden;
}
#myButton{
    border-radius: 100%;
    display: block;
}

#frame{
    width: 100%;
    height: 100%;

}
.col-xs-12{
    margin-top: 3em;
}